.main
  .header
    .header__left
      %h2.header__left__group 
        #{@group.name}
      %ul.header__left__Member
        Membar:
        %li.header__left__Member__list
        - @group.users.each do |group_member|
          %div #{group_member.name}&nbsp;
    .header__right
      .header__right__box
        = link_to edit_group_path(@group[:id]) do
          Edit
  .messages
    = render @messages
        
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit-btn'