.main
  .header
    .header__left
      .header__group 
        #{@group.name}
      .header__Member
        Membar:
        .header__Member__list
          - @group.users.each do |group_member|
            %div #{group_member.name}&nbsp;
    .header__right
      .header__box
        Edit
  .masages
    = render @messages
    .masages__masage
      .masages__upper
        .masages__name
          
        .masages__date
      
      .masages__dowt

        .masages_text
        
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit-btn'