.side-bar
  .header
    .header__name
      = current_user.name
    .header__icon
      = link_to new_group_path do
        = icon('fas', 'cog')
      = link_to edit_user_path(current_user) do
        = icon('fas','edit')
    
  .contents
    - current_user.groups.each do |group|
      .contents
        = link_to '#' do
          .contents__name
            = group.name
          .contents__title
            メッセージはまだありません。
      


