.side-bar
  .header
    .header__name
      = current_user.name
    .header__icon
      = link_to new_group_path do
        = icon('fas', 'edit')
      = link_to edit_user_path(current_user) do
        = icon('fas','cog')
    
  .contents
    - current_user.groups.each do |group|
      .content
        = link_to group_messages_path(group) do
          .content__name
            = group.name
          .content__title
            = group.show_last_message
          
      


